# Cache
*.pyc
__pycache__/
*/__pycache__/
.idea/

# Backup
*~

# Useless files
*.so
*.dot
*.lprof
*.gdf
*.log

# Documentation
_build/
docs/*.rst

# Tests
*slack*bot*.py
notebooks/.ipynb_checkpoints/
.vscode
