 --toc --natbib# Python cache
*.pyc
*.pyo
__pycache__/
*/__pycache__/

# Nano backup
*~

#DS_Store
.DS_Store

# LaTeX files
*paper.tex
*.aux
*.bbl
*.blg
*.fls
*.out
*.synctex*
*.toc
*.fls
*.fdb_latexmk
*.pdf

# Useless files, generated during builds
dist
build
*.egg-info
*.so
*.dot
*.lprof
*.gdf
*.log

# Documentation
_build/
# auto generated with 'make apidoc'
docs/*.rst

# Notebooks
notebooks/.ipynb_checkpoints/

# Visual Studio Code configuration
.vscode/

# JetBrains PyCharm IDE configuration
.idea/

# C++ executables
*.exe
