# requirements.txt file for https://github.com/Naereen/AlgoBandits
# List of Python modules required to run my simulations

# --- Fully required
numpy             # Required for numpy arrays and functions
scipy>0.9         # Required for scipy.stats functions (Beta, Poisson, Exponentiels) and scipy.optimize.minimize
matplotlib        # Required for the plots in Environment/Evaluator*.py

# --- Optionnal, improve performance
ipython           # to launch the experiments with better debugging
joblib            # Required for parallel computing. Note: it only speeds up by an almost constant factor = nb of CPU cores. And the code works if joblib is not installed (just slower!).
numba       # Not required, but can help to speed up some functions
# h5py      # TODO: add support to h5py in order to constantly save the numerical values computed in the simulations?

# --- Better plots!
seaborn           # Required for bar plots, and better colors
tqdm              # Nice progress bars

# --- For the documentation
sphinx_rtd_theme  # better sphinx theme
recommonmark      # parser to read Markdown files
nbsphinx          # to include the notebooks as Sphinx pages
# sphinxcontrib.googleanalytics  # used for the documentation, but not pip installable...
# sphinxcontrib.autorun          # used for the documentation, but not pip installable...

# --- For only one policy...
scikit-learn           # for UnsupervisedLearning
scikit-optimize        # for BlackBoxOpt

# --- For command line scripts
docopt           # for server.py
