# requirements.txt file for https://github.com/Naereen/AlgoBandits
numpy       # Required for numpy arrays and functions
scipy>0.9   # Required for scipy.stats functions (Beta, Poisson, Exponentiels)
matplotlib  # Required for the plots in Environment/Evaluator*.py
seaborn     # Required for bar plots, andbetter colors
joblib      # Required for parallel computing. Note: it only speeds up by an almost constant factor = nb of CPU cores. And the code works if joblib is not installed (just slower!).
# h5py      # TODO: add support to h5py in order to constantly save the numerical values computed in the simulations?
# numba       # Not yet required, but soon
# For the documentation:
sphinx_rtd_theme  # better sphinx theme
recommonmark      # parser to read Markdown files
